@import "tailwindcss";

body,
:root {
  height: 100%;
  margin: 0;
  width: 100%;
}

@theme {
  --color-df-bg: #14181d;
  --color-content-bg: #1c2025;
  --color-active-link: #23272c;
  --color-primary-button: #32383f;
  --color-action-button: #009dfc;
  --color-secondary-button: #26292f;
  --color-filter-button: #203438;
  --color-filter-text: #358a84;
}

